.cabecalho{
    align-items: center;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    width: calc(100% - 4rem);
    z-index: 1;
}

