.quem-somos__descricao{
    color: #8C8888;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 2.4rem;
    text-align: center;
    width: 100%;
}
