.intro__texto{
 
    color: #8C8888;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    margin-right: 10vh;
    margin-left: 10vh;
    margin-top: 50px;
    text-align: center;
}